@model Calculator.Models.CalculatorItems

@{
    ViewBag.Title = "Calculator";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h2>Calculator</h2>
        <hr />
        @Html.EditorFor(model => model.Item1)
        @Html.DropDownList("Operator", EnumHelper.GetSelectList(typeof(Calculator.Models.CalculatorOperatorEnum)))
        @Html.EditorFor(model => model.Item2)

        <input type="submit" value="=" class="btn btn-default" />
        @Html.DisplayFor(model => model.Result)
    </div>
    <div>
        @Html.ValidationSummary(false)
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
