@model Calculator.Models.CalculatorItems

@{
    ViewBag.Title = "Calculator";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <br />
        <br />
        <h2>Calculator - standart MVC (modification pour teamcity)</h2>
        <hr />
        <p>This view use the traditionnal MVC pattern to get the result</p>
        <hr />
        @Html.EditorFor(model => model.FirstValue)
        @Html.DropDownList("Operator", EnumHelper.GetSelectList(typeof(Calculator.Models.CalculatorOperatorEnum)))
        @Html.EditorFor(model => model.SecondValue)

        <input type="submit" id="btnCalculate" value="=" class="btn btn-default" />
        <div id="Result">
            @Html.DisplayFor(model => model.Result)
        </div>
    </div>
    <div id="ValidationSummary">
        @Html.ValidationSummary(false)
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
