@model Calculator.Models.CalculatorItems

@{
    ViewBag.Title = "Calculator";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h2>Calculator-2</h2>
        <hr />
        @Html.EditorFor(model => model.Item1)
        @Html.DropDownList("Operator", EnumHelper.GetSelectList(typeof(Calculator.Models.CalculatorOperatorEnum)))
        @Html.EditorFor(model => model.Item2)

        <input type="submit" id="btnCalculate" value="=" class="btn btn-default" />
        <div id="Result">
            @Html.DisplayFor(model => model.Result)
        </div>
    </div>
    <div id="ValidationSummary">
        @Html.ValidationSummary(false)
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
