@model Calculator.Models.ListOfCalculatorItem

@{
    ViewBag.Title = "MatrixCalculator";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h2>Multiline Calculator</h2>

        <hr />
        <p>This view will calculate several line and give all the result</p>
        <p>Type your operation(line by line)</p>
        <p>
            exemple :<br />
            2+3<br />
            3*4
        </p>
        <textarea wrap="off" cols="30" rows="7" id="AllCalculation" name="AllCalculation"></textarea>
        <hr />
        <input type="submit" id="btnCalculate" value="=" class="btn btn-default" />
        <div id="Result">
            @if (Model != null)
            {
                <table>
                    @for (int i = 0; i < Model.Count(); ++i)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model[i].FirstValue)                         
                        </td>
                        <td>
                            @Html.DisplayFor(model => model[i].OperatorChar)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model[i].SecondValue)
                        </td>
                        <td>=</td>
                        <td>
                            @Html.DisplayFor(model => model[i].Result)
                        </td>
                    </tr>
                    }
                </table>
            }
        </div>
    </div>
    <div id="ValidationSummary">
        @Html.ValidationSummary(false)
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>